.search_container_home_page{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 1382px;
    height: 56px;
    left: 229px;
    top: 132px;
}
.people_container{
    width: 56px;
    height: 56px;

    background: #C9D4FF;
    border-radius: 60px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.image_container{
    position: relative;
    left: 9px;
    right: 16.67%;
    top: 16.67%;
    bottom: 16.67%;
}
.search_bar_home_page{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;

    width: 1302px;
    height: 56px;

    border: 2px solid #5241B3;
    border-radius: 50px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.search_input_home_page {
    width: 1200px;
    height: 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #C9D4FF;
    box-sizing: border-box;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.search_logo_home_page {
    width: 32px;
    height: 32px;
    flex-shrink: 0; /* важливо: не дає flex стискати картинку */
    object-fit: contain; /* картинка зберігає пропорції */
    display: block; /* прибирає inline-артефакти */
}