@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

.button_hover_signup:hover{
    background-color: #abbcff;
}
.button_hover_create_account:hover{
    background-color: #6f5ddd;
}
.navigation-text-color
{
    color:#909a9b
}
.header-text-color-orange
{
    color:#d5612d
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

