@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');


.navigation-text-color
{
    color:#909a9b
}
.header-text-color-orange
{
    color:#d5612d
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    flex:1;
}

.content {
    flex:1;
    top:20px;
}

