
.first_first_container{
    /* Genre */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;

    position: absolute;
    width: 1170px;
    height: auto;
    left: 176px;
    top: 235px;
       /* для кнопок */
}

.first_first_container_text{

    display: flex;

    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 687px;

    width: 1170px;
    height: 40px;

    background: linear-gradient(90deg, #5241B3 0%, #101010 50.48%);
    border-radius: 30px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.first_first_container_track{
    display: flex;


    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    gap:24px;
    width: 1170px;
    height: auto;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;


}
/* Контейнер горизонтального скролу */
.first_first_container_track {
    display: flex;

    gap: 16px;
    padding-bottom: 0px;
    max-width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.first_first_track{
    /* Frame 26080081 */
    flex: 0 0 auto;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 210px;
    height: auto;

    flex: none;
    order: 0;
    flex-grow: 0;

}
.track_image_home_page{

    width: 210px;
    height: 210px;
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.track_information_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 210px;
    height: 90px;

    flex: none;
    flex-grow: 0;
}
.track_name{
    width: 210px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: block;
    align-items: center;
    text-align: center;



    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.track_author_home_page{
    /* Imagine Dragons */
    width: 100%;
    height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 100% */
    display: block;
    align-items: center;
    text-align: center;
    color: #C9D4FF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.second_first_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 1170px;
    height: 338px;
    left: 176px;
    top: 631px;
}

.third_first_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 23px;
    position: absolute;
    width: 1170px;
    height: 312px;
    left: 176px;
    top: 1001px;
}

.playlist_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 48px;
    position: absolute;
    width: 1170px;
    height: 732px;
    left: 176px;
    top: 1370px;
}

.trending_by_genre_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;

    position: absolute;
    width: 1170px;
    height: 338px;
    left: 176px;
    top: 2109px;
}

.discover_new_songs_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 22px;
    position: absolute;
    width: 1170px;
    height: 338px;
    left: 176px;
    top: 2479px;
}
.button_side_bar_right_container{
    position: absolute;
    height: 320px;
    right:0px;
    top:50px;
    width: 210px;
    align-items: flex-end;
    justify-items: flex-end;
    right:0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    background: linear-gradient(to right, transparent 0, #101010 70%);
}
.button_side_bar_left_container{
    position: absolute;
    height: 320px;
    top:50px;
    width: 210px;
    left:0px;
    align-items: flex-start;
    justify-items: flex-start;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    background: linear-gradient(to left, transparent 0, #101010 70%);
}
.button_side_bar_right{
    position: absolute;
    width: 72px;
    height: 72px;
    right:0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    background: linear-gradient(to right, transparent, black);
}
.button_side_bar_left {
    position: absolute;
    width: 72px;
    height: 72px;
    top:50px;
    left:0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}


.top_creators_container{
    /* Top_Creators */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 26px;

    position: absolute;
    width: 374px;
    height: 346px;
    left: 1370px;
    top: 235px;
}

.top_creators_top_text_container{
    /* Frame 26080069 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 12px;
    gap: 56px;

    width: 374px;
    height: 48px;

    background: linear-gradient(90deg, #5241B3 0%, rgba(16, 16, 16, 0) 79.81%);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.top_creators_creators_container{
    /* Frame 26080071 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 374px;
    height: 272px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.top_creator_container{
    /* Artist */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 374px;
    height: 56px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


.top_creators_numeration{
    /* 1. */

    width: 28px;
    height: 34px;

    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.top_creators_avatar_container{
    /* Ellipse 71 */

    width: 56px;
    height: 56px;
    border-radius: 50%; /* робимо круглим */
    overflow: hidden;
    object-fit: cover; /* картинка заповнює контейнер і обрізається */
    display: block;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.top_creators_author_container{
    /* ladygaga */

    width: 108px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}
.top_creators_follow_button_container{
    /* Frame 26080067 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;

    width: 109px;
    height: 44px;

    background: #5241B3;
    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;

}

.recommended_for_you_container{
    /* Recommended */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 374px;
    height: 346px;
    left: 1370px;
    top: 605px;
}

.recommended_for_you_author_container{
    /* OneRepublic */

    width: 161px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.recommended_for_you_follow_button_container{
    /* Frame 26080067 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;

    width: 109px;
    height: 44px;

    background: #5241B3;
    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.history_container{
    /* History */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 26px;

    position: absolute;
    width: 374px;
    height: 346px;
    left: 1370px;
    top: 975px;
}
.history_track_image_container{
    /* Rectangle 55 */

    width: 56px;
    height: 56px;

    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.history_track_information_container{
    /* Frame 26080068 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 161px;
    height: 44px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.history_track_author{
    /* Derivakat */

    width: 161px;
    height: 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.history_track_title{
    /* Take Aim */

    width: 161px;
    height: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.history_buttons_container{
    /* Frame 26080084 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 96px;
    height: 36px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.history_like{
    /* ic:sharp-favorite-border */

    width: 36px;
    height: 36px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.history_add_info{
    width: 36px;
    height: 36px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}