.background {
    /* Profile_Page */

    position: fixed;
    inset: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(82, 65, 179, 0.3);
    /* Rectangle 27 */
    z-index:9999;

}

.background .profile_page_create_album_modal_container{
    /* Frame 26080108 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px 36px;
    gap: 32px;

    position: absolute;
    width: 772px;
    height: 639px;
    left: 574px;
    top: 188px;

    background: #101010;
    border-radius: 30px;


}
.profile_page_create_album_modal_container .profile_page_name_exit_container{
    /* Frame 26080106 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 483px;

    width: 700px;
    height: 48px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.profile_page_name_exit_container .name_style{
    /* Edit profile */

    margin: 0 auto;
    width: 241px;
    height: 32px;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height, or 100% */

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.profile_page_name_exit_container .exit_button{
    /* ic:baseline-close */

    box-sizing: border-box;

    margin: 0 auto;
    width: 48px;
    height: 48px;

    border: 2px solid #344289;
    border-radius: 100px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.profile_page_create_album_modal_container .info_model_creat{
    /* Frame 26080107 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 700px;
    height: 419px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.info_model_creat .name_description_container{
    /* Frame 26080104 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 32px;

    width: 435px;
    height: 419px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}
.name_description_container .name_container{
    /* Name */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 435px;
    height: 88px;

    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.name_container .text_style{
    /* Username */

    width: 265px;
    height: 24px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.name_container .text_area_style{
    /* Enter */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;

    width: 435px;
    height: 56px;

    border: 2px solid #344289;
    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.name_description_container .public_container{
    /* Email */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 435px;
    height: 88px;

    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.name_description_container .description_container{
    /* Bio */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 435px;
    height: 203px;

    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}
.description_container .text_style{
    /* Bio */

    width: 265px;
    height: 24px;

    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.description_container .text_area_style{
    /* Enter */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;

    width: 435px;
    height: 171px;

    border: 2px solid #344289;
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.info_model_creat .img_button_container{
    /* Frame 26080105 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 241px;
    height: 317px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.img_button_container .img_style{
    /* Ellipse 60 */

    width: 241px;
    height: 241px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.img_button_container .button_container{
    /* Frame 26080102 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 168px;
    height: 44px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.profile_page_create_album_modal_container .cansel_save_container{
    /* Frame 26080103 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 291px;
    height: 44px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.cansel_save_container .cansel_container{
    /* Cancel */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;

    width: 124px;
    height: 44px;

    border: 2px solid #344289;
    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.cansel_save_container .save_container{
    /* Save */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;

    width: 143px;
    height: 44px;

    background: #344289;
    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}